*{
    margin: 0;
    padding: 0;
}
  
/* Media Queries */

/* mobile */
@media only screen and (max-width: 500px){

    body{
        background-color: rgb(255, 255, 255);
    }

    header{
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;
        padding: 15px 15px;
        position: static;
    }

    .div-nav i {
        font-size: 18px;
    }

    .menu-label i {
        font-size: 18px;
    }


    /* menu hamburguesa */

    .header-navbar {
        width: 20px;
        padding: 15px;
    }

    .navbar-menu {
        position: absolute;
        top: 80px;
        left: 0%;
        right: 0%;
        width: 100%;
        flex-direction: column;
        justify-content: center; 
        backdrop-filter: blur(16px) saturate(200%);
        -webkit-backdrop-filter: blur(16px) saturate(200%);
        background-color: rgba(17, 25, 40, 0.85);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-top: none;
        border-radius: 0px 0px 16px 16px;
        align-items: center;
        gap: 20px;
        padding: 30px 30px;
        z-index: 2;
        display: none;
    }
    .menu-label {
        display: flex;
    }


    #menu-toggle:checked + .navbar-menu {
        display: flex;
    }
    .ul-style {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .logoheader {
        width: 150px;
    }

    .banner{
        margin: 0;
        width: 100%;

    }

    .banner img {
        width: 100%;
    }

    .banner h1 {
        font-size: 2.0rem;
        font-weight: bolder;
    }
        
    .titulo-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 10px 10px;
        
    }
        
    .divpadre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        width: 100%;
        gap: 40px;
    } 

    .serie-a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        border-radius: 1rem;
    }    
    
    .la-liga {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        border-radius: 1rem;
    }
    
    .premier-league {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        border-radius: 1rem;
    }    

    footer {
        font-size: 1.5rem;
    }


    .footer__container{
        font-size: 1.5rem;
    }

    .footer__redes h6 {
        font-size: 1.5rem;
    }   


    /* Productos */

    .titulo h1 {
        font-size: 30px;
    }


    .section_premier {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
   
    .section_serie {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section_laliga {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img-remeras{
        width: 220px;
        height: 220px;
    } 
    
    .mancity, .chelsea, .arsenal, .newcastle, .liverpool, .manunited {
        width: 250px;
        height: 400px;
        padding: 10px;
        color: white;
        font-size: 1.8rem;
    }
   
    .juventus, .milan, .napoli, .roma, .inter, .lazio {
        width: 250px;
        height: 400px;
        padding: 10px;
        color: white;
        font-size: 1.8rem;
    }

    .barca, .realmadrid, .bilbao, .realsociedad, .girona, .valencia {
        width: 250px;
        height: 400px;
        padding: 10px;
        color: white;
        font-size: 1.8rem;
    }

    /* Contacto */

    .sect_contacto {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        font-size: 1.8rem;
    }

    #contact {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 300px;
        
    }

    .contact__content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        font-size: 1.8rem;

    }


    .contact__maps {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        padding: 20px;
    }

    iframe {
        width: 250px;
    }

}

/* tablet */

@media only screen and (min-width: 501px) and (max-width:950px) {

    body{
        background-color: rgb(255, 255, 255);
    }

    /* menu hamburguesa */

    .header-navbar {
        width: 20px;
        padding: 15px;
    }

    .navbar-menu {
        position: absolute;
        top: 120px;
        left: 0%;
        right: 0%;
        width: 100%;
        flex-direction: column;
        justify-content: center; 
        backdrop-filter: blur(16px) saturate(200%);
        -webkit-backdrop-filter: blur(16px) saturate(200%);
        background-color: rgba(17, 25, 40, 0.85);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        border-top: none;
        border-radius: 0px 0px 16px 16px;
        align-items: center;
        gap: 20px;
        padding: 30px 30px;
        z-index: 2;
        display: none;
    }
    .menu-label {
        display: flex;
    }


    #menu-toggle:checked + .navbar-menu {
        display: flex;
    }
    .ul-style {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .logoheader {
        width: 250px;
    }

    header a {
        font-size: 1.8rem;
    }
    nav{
        width: 350px;
        padding: 0%;
    }

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 320px;
    }


    .banner img{
        width: 100%;
    }

    .banner h1 {
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .divpadre{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 40px;
    } 

    .serie-a, .la-liga, .premier-league{
        width: 350px;
        height: 450px;
        font-size: 2.2rem;
    }

    .footer__redes h6 {
        font-size: 2rem;
    }

    /* Productos */

    .img-remeras{
        width: 320px;
    } 
    
    .mancity, .chelsea, .arsenal, .newcastle, .liverpool, .manunited {
        width: 350px;
        height: 470px;
        padding: 10px;
        color: white;
    }
   
    .juventus, .milan, .napoli, .roma, .inter, .lazio {
        width: 350px;
        height: 470px;
        padding: 10px;
        color: white;
    }

    .barca, .realmadrid, .bilbao, .realsociedad, .girona, .valencia {
        width: 350px;
        height: 470px;
        padding: 10px;
        color: white;
    }
} 
/* desktop */

@media only screen and (min-width: 951px) {

    body{
        background-color: rgb(255, 255, 255);
    }

    .logoheader {
        width: 300px;
    }

    header a {
        font-size: 2.2rem;
    }

    nav{
        width: 600px;
        padding: 0%;
    }

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 600px;
    }

    .banner img {
        width: 100%;

    }
    
    .banner h1 {
        font-size: 3.0rem;
        font-weight: bolder;
    }

    .divpadre{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 40px;
    } 

    #premier-link {
        font-size: 3.0rem;
        font-weight: bolder;
    }

    #serie-link {
        font-size: 3.0rem;
        font-weight: bolder;
    }

    #laliga-link {
        font-size: 3.0rem;
        font-weight: bolder;
    }

    .serie-a, .la-liga, .premier-league{
        width: 400px;
        height: 450px;
        font-size: 2.2rem;
        
    }
    
    .section_premier {
        gap: 100px;
    }
   
    .section_serie {
        gap: 100px;
    }
    
    .carousel {
        width: 350px;
    }

    .section_laliga {
        gap: 100px;
    }
    
    .mancity, .chelsea, .arsenal, .newcastle, .liverpool, .manunited {
        width: 400px;
        padding: 10px;
        color: white;
    }
   
    .juventus, .milan, .napoli, .roma, .inter, .lazio {
        width: 400px;
        padding: 10px;
        color: white;
    }

    .barca, .realmadrid, .bilbao, .realsociedad, .girona, .valencia {
        width: 400px;
        padding: 10px;
        color: white;
    }


    footer {
        font-size: 2.0rem;
    }


    .footer__container{
        font-size: 2.0rem;
    }

    .footer__redes h6 {
        font-size: 2.2rem;
    }
}





